.footer{
    margin-top:40px;
    padding:18px 16px 0;
    background:#fff;
    border-top:1px solid #d9f2ef;
    font-family:Arial,sans-serif;
}

.footer-title{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
    margin-bottom:18px;
}

.footer-title span{
    width:40px;
    height:2px;
    background:#36d6d3;
}

.footer-title h3{
    margin:0;
    font-size:20px;
    font-weight:700;
    color:#222;
}

.footer-links{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:14px 20px;
    margin-bottom:20px;
}

.footer-links a{
    text-decoration:none;
    color:#333;
    font-size:15px;
    font-weight:500;
}

.footer-line{
    height:1px;
    background:#bfeeed;
    margin:18px 0;
}

.footer-info{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:18px;
}

.footer-left{
    flex:1;
}

.footer-left h2{
    margin:0 0 8px;
    color:#16b8cf;
    font-size:30px;
    font-weight:800;
}

.footer-left p{
    margin:0 0 14px;
    font-size:14px;
    line-height:1.6;
    color:#444;
}

.copyright{
    font-size:13px;
}

.footer-right{
    width:170px;
    display:flex;
    flex-direction:column;
    gap:18px;
}

.social{
    text-decoration:none;
    text-align:center;
    padding:12px;
    border-radius:30px;
    font-weight:700;
    font-size:15px;
}

.insta{
    border:2px solid #d84cff;
    color:#d84cff;
}

.whats{
    border:2px solid #27c763;
    color:#27c763;
}.footer-features{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid #dbe8ec;
    margin-top:16px;
}

.feature-item{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:5px;
    padding:12px 4px;
    border-right:1px solid #ececec;
    font-size:11px;
    font-weight:500;
    color:#444;
}

.feature-item:last-child{
    border-right:none;
}

.feature-icon{
    font-size:16px;
    line-height:1;
}

.feature-text{
    white-space:nowrap;
}
@media(max-width:768px){

.footer{
    padding:14px 12px 0;
}

.footer-title h3{
    font-size:17px;
}

.footer-title span{
    width:28px;
}

.footer-links{
    gap:10px 14px;
}

.footer-links a{
    font-size:13px;
}

.footer-info{
    gap:10px;
}

.footer-left h2{
    font-size:18px;
}

.footer-left p{
    font-size:11px;
    line-height:1.45;
}

.copyright{
    font-size:11px;
}

.footer-right{
    width:120px;
    gap:10px;
}

.social{
    padding:8px;
    font-size:13px;
}

}
